:root {
	--board-background: none;
	--border-color: #f6546a;
	--border-thickness: 5px;
}


.grid-container {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	background-color: #2196F3;
	padding: 10px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	width: 100px;
	height: 100px;
	align-items: center;
	justify-items: center;
	display: grid;
	/* padding: 20px; */
	font-size: 30px;
	text-align: center;
}

.reset-winner {
	display: flex;
}